# User-Based Collaborative Filtering Test
### Katelyn Stringer, April 14, 2018

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from utils import *
%matplotlib inline

### Read in and format the data

In [3]:
ratings = pd.read_csv('data/ratings.csv',header=0)
ratings.tail()

          userId  movieId  rating   timestamp
20000258  138493    68954     4.5  1258126920
20000259  138493    69526     4.5  1259865108
20000260  138493    69644     3.0  1260209457
20000261  138493    70286     5.0  1258126944
20000262  138493    71619     2.5  1255811136

First, this is way too much data to test. Let's grab a subset of the data for testing purposes.

In [4]:
### Sort the values
ratings.sort_values('userId',inplace=True)

In [5]:
### Create a list of unique userId's and select the first 1000.
userlist, userind = np.unique(ratings.userId.values,return_index=True)

In [6]:
### Select the first 1000
small = ratings.iloc[:userind[1000]]

In [7]:
print(len(small))
small.head()

150629

     userId  movieId  rating   timestamp
0         1        2     3.5  1112486027
112       1     3997     3.5  1112486192
113       1     4011     4.0  1112485406
114       1     4027     4.0  1112485460
115       1     4105     3.5  1094786104

We see that the format of this data is a row per rating with 4 columns. We need to reshape this into a useful matrix format to build our recommendation engine. We can use pivot for this.

In [8]:
test = small.pivot_table(index='movieId',columns='userId',values='rating')
test.head()

userId,1,2,3,4,5,6,7,8,9,10,...,991,992,993,994,995,996,997,998,999,1000
movieId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,4.0,NaN,NaN,5.0,NaN,4.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.5,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN
3,NaN,4.0,NaN,NaN,NaN,3.0,3.0,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN

### Calculate similarity between users

Now we have a really sparse matrix indexed by movieId, filled with all of the ratings values for each user (columns). Since we set the users as columns, we can use pandas' "corr" function to determine the correlation between different users.

In [9]:
testcorr = test.corr()

This returned a 1000x1000 matrix showing how the different users are correlated to each other. Note all of the NaN's where there was insufficient overlapping ratings for the same movies to calculate the correlations.

### Predict movie ratings for one user

Now let's try to fill in some of the missing values for each user based on the similarity to other users. First, we extract the first user and the similarity values.

In [10]:
user1 = test[1]
print(user1.head())

### Locate all movies that this user rated and ignore nans.
moviesrated = np.unique(user1[user1.values>0].index)
print(len(user1),len(moviesrated))
print(moviesrated[:5])

movieId
1    NaN
2    3.5
3    NaN
4    NaN
5    NaN
Name: 1, dtype: float64
9746 175
[ 2 29 32 47 50]

C:\Users\hooja\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in greater
  """

In [11]:
### Pull out the rows for the movies not rated by user 1.
unknown_movies = test[~test.index.isin(moviesrated)]
print(unknown_movies.head())
print(len(unknown_movies))

userId   1     2     3     4     5     6     7     8     9     10    ...   \
movieId                                                              ...
1         NaN   NaN   4.0   NaN   NaN   5.0   NaN   4.0   NaN   4.0  ...
3         NaN   4.0   NaN   NaN   NaN   3.0   3.0   5.0   NaN   NaN  ...
4         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
5         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
6         NaN   NaN   NaN   3.0   NaN   NaN   NaN   3.0   NaN   NaN  ...

userId   991   992   993   994   995   996   997   998   999   1000
movieId
1         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   3.0   NaN
4         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   1.0   NaN
6         NaN   NaN   NaN   NaN   NaN   NaN   NaN   5.0   3.0   NaN

[5 rows x 1000 columns]
9571

In [20]:
### Pull out similarities to other users for this one user
tempsim = testcorr.iloc[0]
tempsim.head()

userId
1    1.000000
2   -0.069338
3    0.225312
4         NaN
5    0.467677
Name: 1, dtype: float64

In [53]:
### Multiply these movies by the weights from other users
temp_weights = np.transpose(tempsim)*unknown_movies
temp_weights.head()

userId,1,2,3,4,5,6,7,8,9,10,...,991,992,993,994,995,996,997,998,999,1000
movieId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0.901248,NaN,NaN,NaN,NaN,0.0,NaN,2.115042,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,-0.27735,NaN,NaN,NaN,NaN,0.240854,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.5,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.363428,1.5,NaN

In [54]:
### Sum up all of the weights for each row
temp_weights['sum'] = temp_weights.sum(axis=1)
temp_weights.head()

userId,1,2,3,4,5,6,7,8,9,10,...,992,993,994,995,996,997,998,999,1000,sum
movieId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0.901248,NaN,NaN,NaN,NaN,0.0,NaN,2.115042,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.653606
3,NaN,-0.27735,NaN,NaN,NaN,NaN,0.240854,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.5,NaN,13.747725
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.839425
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,NaN,20.790233
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.363428,1.5,NaN,39.622798

In [55]:
### Make a mask of NaNs to apply to sim matrix
nanmask = np.isfinite(temp_weights)*1
nansim = np.transpose(tempsim)*nanmask
print(nansim.head())

### Notice that the Nan values now do not have a similarity weight.

userId     1         2         3   4    5   6         7    8    9        10  \
movieId
1        0.0 -0.000000  0.225312 NaN  0.0 NaN  0.000000  0.0  0.0  0.528761
3        0.0 -0.069338  0.000000 NaN  0.0 NaN  0.080285  0.0  0.0  0.000000
4        0.0 -0.000000  0.000000 NaN  0.0 NaN  0.000000  0.0  0.0  0.000000
5        0.0 -0.000000  0.000000 NaN  0.0 NaN  0.000000  0.0  0.0  0.000000
6        0.0 -0.000000  0.000000 NaN  0.0 NaN  0.000000  0.0  0.0  0.000000

userId  ...   992  993  994  995  996  997       998  999  1000  sum
movieId ...
1       ...   NaN -0.0  0.0 -0.0  0.0  0.0  0.000000  0.0   0.0  NaN
3       ...   NaN -0.0  0.0 -0.0  0.0  0.0  0.000000  0.5   0.0  NaN
4       ...   NaN -0.0  0.0 -0.0  0.0  0.0  0.000000  0.0   0.0  NaN
5       ...   NaN -0.0  0.0 -0.0  0.0  0.0  0.000000  0.5   0.0  NaN
6       ...   NaN -0.0  0.0 -0.0  0.0  0.0  0.272686  0.5   0.0  NaN

[5 rows x 1001 columns]

C:\Users\hooja\Anaconda3\lib\site-packages\pandas\indexes\base.py:2683: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)

In [56]:
### Tack on weights to end of movie matrix
temp_weights['sumweights'] = nansim.sum(axis=1)
temp_weights.head()

userId,1,2,3,4,5,6,7,8,9,10,...,993,994,995,996,997,998,999,1000,sum,sumweights
movieId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0.901248,NaN,NaN,NaN,NaN,0.0,NaN,2.115042,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.653606,33.123043
3,NaN,-0.27735,NaN,NaN,NaN,NaN,0.240854,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.5,NaN,13.747725,5.285430
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.839425,1.467021
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.5,NaN,20.790233,7.085248
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.363428,1.5,NaN,39.622798,9.772875

In [63]:
### Estimate the ratings for this user and record the statistical "strength" of the estimate
temp_weights['pred'] = [float(a)/b for a,b in zip(temp_weights['sum'],temp_weights['sumweights'])]
temp_weights['pred'].head()
temp_weights['strength'] = temp_weights.dropna().count(axis=1)

C:\Users\hooja\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in double_scalars

In [64]:
temp_weights.head()

userId,1,2,3,4,5,6,7,8,9,10,...,995,996,997,998,999,1000,sum,sumweights,pred,strength
movieId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0.901248,NaN,NaN,NaN,NaN,0.0,NaN,2.115042,...,NaN,NaN,NaN,NaN,NaN,NaN,130.653606,33.123043,3.944493,323
3,NaN,-0.27735,NaN,NaN,NaN,NaN,0.240854,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.5,NaN,13.747725,5.285430,2.601061,85
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.839425,1.467021,1.253851,20
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.5,NaN,20.790233,7.085248,2.934298,85
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,1.363428,1.5,NaN,39.622798,9.772875,4.054365,159

In [67]:
### Get movie lists to see if these ratings actually make sense
movienames = pd.read_csv('data/movies.csv',header=0)
movienames.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [77]:
### Get the highest rated movies for the test user
movies = user1.fillna(0)

In [91]:
best = movies.loc[movies==5]
print(movies.loc[movies==5])

movieId
4993    5.0
5952    5.0
7153    5.0
8507    5.0
Name: 1, dtype: float64

In [99]:
test = pd.concat([movies,movienames.shift(1)],axis=1)
test.head()

,1,movieId,title,genres
0,NaN,NaN,NaN,NaN
1,0.0,1.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,3.5,2.0,Jumanji (1995),Adventure|Children|Fantasy
3,0.0,3.0,Grumpier Old Men (1995),Comedy|Romance
4,0.0,4.0,Waiting to Exhale (1995),Comedy|Drama|Romance

In [106]:
best = test.loc[test[1]>=5.0]
print(best)

        1  movieId                                 title              genres
4993  5.0   5088.0  Going Places (Valseuses, Les) (1974)  Comedy|Crime|Drama
5952  5.0   6050.0                            Gus (1976)     Children|Comedy
7153  5.0   7264.0              An Amazing Couple (2002)      Comedy|Romance
8507  5.0  25948.0                     Yellow Sky (1948)       Crime|Western

In [90]:
topmovies = movienames.loc[movienames.movieId==]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty (1995),Comedy|Crime|Thriller
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins (1995),Action|Crime|Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Children|Drama
27,28,Persuasion (1995),Drama|Romance
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama
...,...,...,...
27248,131146,Werner - Volles Rooäää (1999),Animation|Comedy
27249,131148,What A Man (2011),Comedy|Romance
27250,131150,7 Dwarves: The Forest Is Not Enough (2006),Comedy
27251,131152,The Fat Spy (1966),Comedy
27252,131154,"Die Bademeister – Weiber, saufen, Leben retten...",Comedy
27253,131156,Ants in the Pants 2 (2002),Comedy
27254,131158,"Manta, Manta (1991)",Comedy
27255,131160,Oscar and the Lady in Pink (2009),Drama
27256,131162,Por un puñado de besos (2014),Drama|Romance
27257,131164,Vietnam in HD (2011),War
27258,131166,WWII IN HD (2009),(no genres listed)
27259,131168,Phoenix (2014),Drama
27260,131170,Parallels (2015),Sci-Fi
27261,131172,Closed Curtain (2013),(no genres listed)
27262,131174,Gentlemen (2014),Drama|Romance|Thriller
27263,131176,A Second Chance (2014),Drama
27264,131180,Dead Rising: Watchtower (2015),Action|Horror|Thriller
27265,131231,Standby (2014),Comedy|Romance
27266,131237,What Men Talk About (2010),Comedy
27267,131239,Three Quarter Moon (2011),Comedy|Drama
27268,131241,Ants in the Pants (2000),Comedy|Romance
27269,131243,Werner - Gekotzt wird später (2003),Animation|Comedy
27270,131248,Brother Bear 2 (2006),Adventure|Animation|Children|Comedy|Fantasy
27271,131250,No More School (2000),Comedy
27272,131252,Forklift Driver Klaus: The First Day on the Jo...,Comedy|Horror
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror